[submodule "third_party/kilix-content"]
	path = third_party/kilix-content
	url = https://github.com/itsmygithubacct/kilix-content.git
[submodule "third_party/kilix-ml"]
	path = third_party/kilix-ml
	url = https://github.com/itsmygithubacct/kilix-ml.git
